# Build outputs
.next
out
dist

# Dépendances
node_modules

# Fichiers d'environnement
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système
.DS_Store

# Vercel
.vercel
